.calendar {
    text-align: center;
    font-size: '7px';
    tbody {
        tr {
            height: 110px;
        }
    }

    .hoverable-cell:hover {
        background-color: rgb(242, 249, 255);
    }
}